plotly.graph_objects
pandas
plotly.express
plotly.express
dash_bootstrap_components
jupyter_dash
dash
argparse
word_cloud
sys
os
json
textblob
textblob_fr
geopandas
plotly.tools
operator
matplotlib.pyplot
heapq
operator
spacy
fr_core_news_md
pytest
chart_studio.plotly
PIL
wordcloud
